In [1]:
import pandas as pd

In [3]:
df = pd.read_fwf('data/EXPORTS BY COMMODITIES  AND COUNTRIES-(2017-2018).txt')

In [4]:
df.head()

                                           PAGE    1
0  EXPORTS BY COMMODITIES AND COUNTRIES          ...
1                              (RUPEES IN THOUSANDS)
2  2 0 1 7 - 2 0 1 8                             ...
3  ****** ********************  ***************  ...
4  HSCODE COMMODITY / COUNTRY            UNIT    ...